@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap')
@import "general.sass"

.cont-item
    background-color: transparent
    display: flex
    width: 96%
    padding: 3px 5px
    margin: auto
    border-radius: 8px
    border: 0.5px $Very-Light-Grayish-Blue solid
    align-items: center
    justify-content: space-between

    &__container
        display: flex
        flex-direction: row
        align-items: center
        margin: 0 10px
        text-align: center
        color: $Very-Dark-Grayish-Blue

    &__container.completed
        text-decoration: line-through

    &__icon
        color: $Very-Light-Grayish-Blue
        padding-left: 15px

    &__icon.completed
        color: $Bright-Blue

    &__item
        color: $Very-Dark-Grayish-Blue
        background-color: transparent
        cursor: pointer

    &__item.dark-mode
        color: $Very-Light-Gray
        /* border: red 2px solid */

    &__close
        color: $Very-Light-Grayish-Blue
        padding-right: 15px
        cursor: pointer

.cont-item.dark-mode
    border: 0.5px $Very-Dark-Desaturated-Blue solid
    border: red 2px solid
    