@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap')
@import "general.sass"

.cont-item
    background-color: $Very-Light-Gray
    display: flex
    width: 85%
    padding: 3px 5px
    margin: 20px auto
    border-radius: 8px
    align-items: center
    justify-content: space-between

    &__container
        display: flex
        flex-direction: row
        align-items: center
        gap: 10px

    &__icon
        color: $Very-Light-Grayish-Blue
        padding-left: 15px

    &__item
        color: $Very-Dark-Grayish-Blue

    &__close
        color: $Very-Light-Grayish-Blue
        padding-right: 15px
        cursor: pointer

