@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap')
@import "general.sass"

.menu-content
    display: flex
    flex-direction: row
    width: 99%
    height: 3.5em
    margin: 0 auto
    background-color: transparent
    border-radius: 8px
    justify-content: space-between
    align-items: center

.menu-content.dark-mode
    background-color: $Very-Dark-Grayish-Blue

.total
    font-size: 14px
    margin-left: 12px
    color: $Dark-Grayish-Blue

.btn-clear
    border: none
    color: $Dark-Grayish-Blue
    background-color: transparent
    font-size: 14px
    margin-right: 12px
    cursor: pointer

.cont-filters
    display: flex
    flex-direction: row
    justify-content: center
    width: 99%
    height: 3em
    margin: 5px auto
    background-color: transparent
    border-radius: 8px

.btns-menu
    border: none
    color: $Dark-Grayish-Blue
    background-color: transparent
    font-size: 14px
    cursor: pointer
    &:focus
        color: $Bright-Blue
        font-weight: 700

@media screen and (min-width: 900px)
    .total
        font-size: 16px
    
    .btn-clear
        font-size: 16px
    
    .btns-menu
        font-size: 16px
    
    .cont-filters
        gap: 25px